/*all*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Noto Sans TC';
	vertical-align:center;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
ins,a,a:active,a:focus {
	text-decoration: none;
	color:#666;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	    padding: 0px!important;
    margin: 0px;
    overflow-x: hidden;
}
a:hover{
	text-decoration: none;
}
.anchor{
  display: block;
  height: 60px; /* 高度與navbar相同, 用來補上被navbar覆蓋的高度 */
  margin-top: -60px; /* 高度與navbar相同, 將頁面內容拉近, 不要造成額外空白 */
  visibility: hidden; /* 隱藏 */
}
img{
	max-width:100%;
}
.row{
	
    margin-right: initial;
    margin-left: initial;
}
.center{
	text-align: center;
	text-align:-webkit-center;
}

.section {
    text-align: center;
}
#sharemodal .modal-title{
	text-align: left;
}
.section_title{
	padding:70px 10px 40px 10px;
}
.section img {
    max-width: 100%;
}
input{
    width: 100%;
    height:40px;
}
.form-check input{
    width: initial;
    height:initial;
}
/*bs*/
.nav-pills li{
	margin:0px 2%;
	width:46%;
	font-size:1.5rem;
	background-color: #ccc;
	color:#333;
	font-weight: bold;
	border-radius:5px;
	
}
.nav.nav-pills li a{
	color:#333;
	text-align: center;
}
.nav.nav-pills li img{
	    position: absolute;top: -25px;width: 70px;z-index:3;
}
.nav>li>a:focus, .nav>li>a:hover{    
	background-color: #ddd;
	color:#333;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	  background-color: #fff6d7;
	color:#5d9731;
}
.nav-pills li a div{
	font-size: 1rem;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default {
   background-color: #5D9731;
    border-color: #5d9731;
    box-shadow: 0px 2px 2px #497626;
}
.nav>li>a{
	padding:10px;
}
.navbar-default .navbar-nav>li>a{
	color:#FFF;
	font-weight: normal;
	padding-top:15px;
}
.container-fluid{
	max-width:1200px;
	padding:15px;
	font-weight: 600;
}
.navbar-brand{
	padding:5px 20px;
	    height: 60px;
}
.navbar-brand>img {
    width: 200px;
}
.nav.navbar-nav.navbar-right{
	text-align:center;
}
.modal-open,.modal {
    padding-right: 0px !important;
}
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: .8;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.word_break {
    display: inline-block;
}
.foot_cat img{
	display:none;
}
.indexdraw_icon{
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index:20;
    cursor: pointer;
}
#attendcount{	
    transform: rotate(-17deg);
    position: absolute;
    top: 50px;
    left: 36px;
    text-align: center;
    font-weight: 500;
    color: #e6d2ac;
    text-shadow: 1px 1px 1px #000;
    width: 105px;
}
.colorgreen{
	color:#5d9731;font-size: 1.2rem; font-weight:bold;
}
.colororange{
	color:#ff6e2d;font-size: 1.2rem;font-weight:bold;
}
.example{
	background: #FFF;
    display: flex;
    align-items: center;
        border-radius: 100px;
    max-width: 600px;
    padding: 10px;
}
.example2{
	background: #FFF;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px #5d9731 dashed;
    text-align: left;
}

/*banner section*/
.banner{
	height: 604px;
    background: url('../img/banner/banner.jpg');
    background-attachment: fixed;
    background-size:contain;
    background-position: center;
    margin-top: 5rem;
    background-repeat: no-repeat;
}
.banner_title{
	position:relative;
	height:665px;
}
.banner img{
	position:absolute;
	text-align:center;
}
div#top_banner{
		display: block;
		position: relative;
        z-index: 1;
		}
 .banner img:nth-child(1){
	left:0px;
	top:120px;
	opacity:0;
	z-index:3;
		-webkit-animation: fade-in 1.5s ; /* Safari 4+ */
	  -moz-animation:    fade-in 1.5s ; /* Fx 5+ */
	  -o-animation:      fade-in 1.5s ; /* Opera 12+ */
	  animation:         fade-in 1.5s ;	
	 animation-timing-function: linear;
	 -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
	 animation-delay: 2s;
	 animation-fill-mode: forwards;
	 
}
		@keyframes fade-in {
		  0%   { opacity: 0; }
		  100% { opacity: 1; }
		}
.banner img:nth-child(2){
	left: 60px;
	top:80px;
	z-index:4;
	-webkit-animation:   eight 2s ; /* Safari 4+ */
	  -moz-animation:    eight 2s ; /* Fx 5+ */
	  -o-animation:      eight 2s ; Opera 12+
	  animation:         eight 2s ;	
	 animation-timing-function: linear;
	  
}
	@keyframes eight{
		0%   { opacity: 0; left:0px}
		25%  {opacity: 0.75;  left:20px}
		75%  {opacity: 0.8;left:40px }
		100% { opacity: 1;left:60px}

	}

.banner img:nth-child(3){
	left: 55px;
	top: 240px;
	z-index:2;
		-webkit-animation:   slideup 2s ; /* Safari 4+ */
	  -moz-animation:    slideup 2s ; /* Fx 5+ */
	  -o-animation:      slideup 2s ; /* Opera 12+ */
	  animation:         slideup 2s ;	
	 animation-timing-function: linear;
}
	@keyframes slideup{
		0%   { opacity: 0; top:270px }
		50%  {opacity: 0.5; top:250px}
		100% { opacity: 1;top:240px;}

	}

.banner img:nth-child(4){
	left: 155px;
	top:150px;
	z-index:5;
	
	-webkit-animation:   ido 2s ; /* Safari 4+ */
	  -moz-animation:    ido 2s ; /* Fx 5+ */
	  -o-animation:      ido 2s ; /* Opera 12+ */
	  animation:         ido 2s ;	
	 animation-timing-function: linear;
}
		@keyframes ido{
		0%   { opacity: 0; top:0px; }
		50%  {opacity: 0.5; top:75px;}
		100% { opacity: 1;top:150px; }

	}
.banner img:nth-child(5){
    top: 550px;
    left: 0px;
}  
/*activity section*/
.activity{
	background:#5d9731;
	padding:50px 0px;
	position: relative;
}
.man{
	position: absolute;
	left: -100px;
	top:400px;
    width: 400px;
    z-index:1;
    
    }
.woman{
	position: absolute;
	right: -20px;
	top:400px;
    width: 400px;
    z-index:1;
}
.btn-go{
	width:200px;
	background-color: #5D9731;
	margin:20px 0px;
	color:#fff;
	font-size:1.5rem;
	font-weight: bold;
	padding:20px 0px;
}
.btn-go:hover{
	background-color: #ff6e2d;
	color:#FFF;
}
.big_title span{
	    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    line-height: 60px;
    border: 2px #fff solid;
    border-radius: 50px;
    padding: 0px 8px;
    margin:8px;
}
.out_act_content_box{
	background-color: #fff;
	max-width:800px;
	margin:0 auto;
	border-radius:10px;
	text-align: left;
	position: relative;
	z-index:2;
	padding:10px;
}
.act_content_box{
	
	background-color: #fff6d7;
	margin:10px;
	padding:20px;
	
}
.owl-in a{
	margin:20px;
}
.content_title{
	color:#5d9731;
	font-size:1.5rem;
	font-weight:bold;
	line-height: 2.5rem;
}
.content_title span{
	color:#333;
}
.inside_word{
	margin:15px 0px;
	color:#666;
	line-height: 1.8rem;
}
.inside_word>span{
	color:#5d9731;
	font-weight: bold;
	
}
/*film section*/
.film{
	background: #f5862c;
	padding-top:50px;
}
.film .col-md-3{
    padding-right: initial;
    padding-left: initial;
}
.film_frame {
    border: 1px solid #d3d3d3;
}
.film_frame:first-child {
    cursor:pointer;
	
}
.film_hover{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity:0;
    background:rgba(34, 34, 34, 0.53);
    transition:0.3s all;
}
.film_frame:hover .film_hover{
	opacity:0.85;
}
.film_frame img{
	width:100%;
}
.film_hover img{
	width:initial;
}
/* vote_title */
.vote{
	
	padding:100px 0px;
	display:inline-block;
	width:100%;
	background-image:url("../img/ten/Contestant_bg.png");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.vote_title{
	    font-size: 32px;
    font-weight: bold;
    color: #fff;
}
.sub_title{
	color:#fff;
	line-height: 190%;
}
.vote .col-md-3 a{
	display:block;
	margin: 20px;
}
.vote .col-md-3 a:hover{
	border:3px #ccc solid;
	
}
.teambox{
	background: #FFF;
    padding: 20px;
    
}
.team_title{
	font-size:1.2rem;
	font-weight:bold;
	color:#222;
	margin-top:10px;
	line-height: 1.5rem;
}
.team_content{
	color:#666;
}
/* elite */
.elite{
	    background-image:url("../img/ten/Contestant_bg2.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.elite .sub_title{
	color:#333;
}
.per100{
	padding:100px 50px;
}
.per20{
	float:left;
	width:18%;
	margin:1%
}
.ten_team{
	    padding: 15px;
    background: #fff;
    position: relative;
}
.ten_team:hover{
	background: #5D9731;
}
.ten_team:hover:after{
	content:"";
	background-image: url('../img/ten/10_hover.png');
	position: absolute;
	width: 50%;
    height: 50%;
    top: 30%;
    background-repeat: no-repeat;
    left: 30%;
}
.ten_team~.colorgreen{
	margin-top:20px;
}
.prev,.next {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 40%;
}

.prev {
    left: -100px;
}

.next {
    right: -100px;
}
.modal-body{
	padding:0px;
}
.modal-body{
	text-align: center;
}
.modal-footer{
	background:#dfceb0;
	text-align: center;
}

.modal-footer p{
    margin: 20px 0px;
    line-height: 170%;
}
.modal-footer img{
	width:100%;
	max-width:315px;
}
.modal-footer .col-xs-1,.modal-footer .col-md-6,.modal-footer .col-xs-11,.modal-footer .col-xs-2,.modal-footer .col-xs-10,.modal-footer .col-md-12{
    text-align:left
}
.modal-footer .col-md-6,.modal-footer .col-md-12{
	margin:5px 0px;s
}
.modal-footer .col-xs-2,.modal-footer .col-xs-1{
	background:#271e19;
	color:#e5cba8;
    text-align: center;
    border-radius: 4px;
    padding: 10px 0px;
}
.form-control{
	height:40px;
}
#myModal .close{
    color: white;
    filter: alpha(opacity=60);
    opacity: .6;
    position: absolute;
    top: -50px;
    right: -60px;
    z-index: 1;
    font-size: 50px;
	
}
.col-md-4.film_frame{
	padding:0px;
}
/*notice section*/
.notice{
	background:#ff6e2d;
	background-size: cover;
	text-align: left;
    
    position: relative;
}
/* .notice:before{
	content:"";
	background: #FFF;
	width:100%;
	height:200px;
	border-top: 200px solid transparent;
    border-right: 1200px solid transparent;
    position: absolute;
	
} */

.notice .section_title{
	font-size:32px;
	font-weight:bold;
	color:#fff;
}
#notice_toggle{
	text-align:center;
	color:white;
	font-size:4rem;
	cursor:pointer;
}
#notice_toggle.open:after {
    content: "-";
}
#notice_toggle:after{
    content: "+";
    right: 0px;
    padding: 0px 4px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    font-size: 0.9em;
}

.notice_content{
	padding-bottom:70px;
}
.notice_content p{
	font-size:15px;
	color:#eee;
	line-height: 190%;
}
.notice_content_more{
	display:none;	
}
.big_title{
	position: relative;
	padding-bottom: 20px;
}
.big_title img{
	max-width:80px;
	vertical-align: bottom;
}
/*hotnews*/
.hotnews{
	padding:50px 0;
	background-image: url('../img/banner/news_bg.png');
	position: relative;
}
.hotnews .news{
	position: relative;
}
.hotnews .news>a:hover{
	color:#5d9731;
}
.hotnews .news>a:after{
	content: "";
    background-image: url('../img/banner/news_more.png');
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0px;
    top: 1px;
    background-repeat: no-repeat;
}
.hotnews .news>a:hover:after{
	background-image: url('../img/banner/news_more_hover.png');
}
.hotnews .container{
	max-width:800px;
} 
.hotnews_banner{
    color: white;
    background: #8bb839;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 20px rgb(173, 173, 173);
}
.hotnews_banner img{
	border-radius: 20px 20px 0px 0px;
}
.hotnews_inside_title{
	line-height: 1.5rem;
	font-size: 1.5rem;
	color: #5d9731;
	margin:10px;
}
.hotnews_inside_title:before{
	content: "\f028";
    font-family: FontAwesome;
    font-weight: normal;
    text-decoration: inherit;
    color: #5d9731;
    font-size: 18px;
    padding-right: 10px;
    line-height: 2rem;
}
.hotnews_content{
    background: #FFF;
    display: -webkit-box;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 40px rgb(173, 173, 173);
        padding: 50px 0px 30px;
}
.diet{
	position: absolute;
	width: 300px;
	right: 0;
	bottom: 20px;
}
.hotnews .big_title span{
	color:#5d9731;
	border-color:#5d9731;
	
}
.hotnews_inside{
	max-width: 600px;
    text-align: left;
    line-height: 2rem;
}
.to_list{
	float:left;
	margin-top:20px;
	color:#f5862c;
}
.to_next{
	float:right;
	margin-top:20px;
	color:#f5862c;
}
.to_list a,.to_next a{
	color:#f5862c;
}
.to_list a:hover,.to_next a:hover{
	color:#5d9731;
}
.v_height{
	min-height:80vh;
}
.news_title{
	border-bottom: 2px dotted #5d9731;
	 position: relative;
}

.news_title span:before {
    content: "\f028";
    font-family: FontAwesome;
    font-weight: normal;
    text-decoration: inherit;
    color: #5d9731;
    font-size: 18px;
    padding-right: 10px;
    line-height:2rem;
}
.news_title>span{
	color:#5d9731;
	font-weight:bold;
	position: relative;
	
}
footer{
	background-color: #000;
	padding:20px;
}
footer p{
	color:#747474;
	font-size:15px;
}
/* login */
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 12.5px 14.5px 16.5px;
    color: #1f1f1f;
    background: #f8f8f8;
    border: 1px solid #d6d6d6;
    -moz-box-shadow: inset 0 20px 20px -27px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow: inset 0 20px 20px -27px rgba(0,0,0,0.3) inset;
    -o-box-shadow: inset 0 20px 20px -27px rgba(0,0,0,0.3) inset;
    box-shadow: inset 0 20px 20px -27px rgba(0,0,0,0.3) inset;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.login_section{
    background: #26470d;
	background-image:url(../img/bg-main-toolbox.jpg);
    padding: 70px 0;
}
.login_section .container{
	max-width:630px;
}
.login_section input[type="text"], .login_section input[type="email"], .login_section input[type="password"]{
    padding-top: 13.5px;
    padding-bottom: 15.5px;
}
.login_section h2 {
    font-size: 28px;
    font-weight: 600;
    color: #d2e3c5;
    margin: -9px 14.5px 25px;
}
.signup_btn{
	display: block;
    font-size: 16px;
    font-weight: bold;
    color: #c7e298;
    text-align: center;
    border: 2px solid #6e9154;
    padding: 16px 20px 17px;
    margin-top: 25px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.signup_btn:hover{
    color: #e7ffbd;
    border-color: #83ab64;
}
.login_section .style-1{
	background: url(../img/btn-bg-1.jpg) repeat-x;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    -moz-text-shadow: 0 0 10px rgba(0,0,0,0.4);
    -webkit-text-shadow: 0 0 10px rgba(0,0,0,0.4);
    -o-text-shadow: 0 0 10px rgba(0,0,0,0.4);
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
    padding: 19px;
    margin-top: 25px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: 0px;
}
.login_section .login_btn{
	float: right;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 135px;
    padding: 13px;
}
.login_section .style-1:hover{
	opacity:0.9;
}
.forgot_link{
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.forgot_link:hover {
    color: #a6cb8a;
}
.close{
	color:#ddd;
	opacity: .5;
}
/* team_vote */
.team_vote{
	background-image: url("../img/bg.png");
	min-height: 100vh;
}
.team_banner{
	margin-top: 90px;
}
.some_word{
	line-height: 2rem;
	margin:2rem;
}
.some_word h3{
	font-size: 2rem;
}
.some_word p {
	font-size: 1.2rem;
	font-weight: normal;
}
.hole_team{
	background-color: #5d9731;
    display: inline-block;
    color:#fff;
    text-align: left;
    line-height: 2rem;
    margin-bottom:30px;
    font-size: 1.2rem;
    max-width:1200px;
}
.hole_team .col-sm-6:nth-child(1){
	padding:0px;
	margin:0px;
}
.hole_team .col-xs-6{
	padding:0px;
	margin:0px;
}
.team_info{
	padding:30px 30px 0px 30px;
	
}
.team_info h3{
	font-size:2rem;
	float: left;
}
.team_info .popular{
	width: 35px;
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
}
.team_info .popular_num{
	font-size:35px;
}
.team_info .popular_num img{
	width:28px;
	vertical-align: baseline;
}
.team_info>ul li{
	width:50%;
	float:left;
}
.team_order{
	margin-bottom:20px;
}
.have_a_line{
	margin:15px 0px;
	clear: both;
	position: relative;
	background-color: #5D9731;
	font-size:1.5rem;
	
}
.have_a_line:before{
	content:"";
	position: absolute;
	width:80%;
	height:2px;
	border-top:1px solid #fff;
	top:15px;
	left:100px;
}
.team_cheer{
	max-width:300px;
	position: relative;
	margin:0 auto;
}
.team_cheer:before,.team_cheer:after{
	content:"";
	position: absolute;
	width:40px;
	height:40px;
	background-image: url("../img/team/cheer.png");
	top:0px;
}
.team_cheer:before{
	left:-40px;
}
.team_control{
	border:1px solid #fff;
	padding:10px;
	color:#fff;
	margin: 20px 20px 20px 0px;
	display: inline-block;
}
.team_control a{
	color:#fff;
}
.team_btn{
	color:#fff;
	background-color: #5D9731;
	padding:10px 30px;
	margin:20px 0px;
	-webkit-border-radius: 0;
	        border-radius: 0;
	font-size: 1.5rem;
}
.team_btn:hover{
	background-color: #ff6e2d;
	color:#fff;
}
 .modal-content{
	background: transparent;
    border: transparent;
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}
#wheel .wheel_section img{
	width:550px;
}
.award_yes,.award_no{
	background:  #5d9731;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    line-height: 1.5rem;
}
.award_no{
	background:#ffa028 ;
}
.award_yes h3,.award_no h3{
	font-size:1.8rem;
	line-height: 2rem;
}
@media (max-width:1024px){
	.nav.nav-pills li img{
		display:none;
	}
	.ten_team:hover:after{
		display:none;
	}
	.modal-footer .col-xs-2, .modal-footer .col-xs-1{
    	padding: 12px 0px;
	}
	#formModal .modal-footer{
		padding:40px 0px;
	}
	.diet{
		display:none;
	}
}
@media (max-width:998px){
	.hole_team{
		    display: flex;
    align-items: center;
	}
	.man,.woman{
		display:none;
	}
	.navbar-brand>img{
			max-width:140px;
		}
	.navbar-brand{
		padding:13px 20px 0px;
		height:auto;
	}
	.login_section input{
		margin:10px 0px;
	}
}
@media (max-width:768px){
	.team_cheer:before,.team_cheer:after{
		display: none;
	}
	#meow,.method_icon{
		display:none;
	}
	.banner{
		    background:url('../img/banner/tablet_banner.jpg');
		    -webkit-background-size: cover;
		         -o-background-size: cover;
		            background-size: cover;
		        background-repeat: no-repeat;
		    height:500px;
	}
	.banner img:nth-child(5) {
    margin: 0 auto;
    max-width:260px;
	}
	.icon3 {
    right: -10px;
    }
	div#top_banner{
		margin-left:32%;
	}
	#myModal .close{
		right:0px;
	}
	.form{
		padding:initial;
	}
	.modal-footer .col-xs-2, .modal-footer .col-xs-1{
   		padding: 10px 5px;		
	}
	.gift_triple .row:nth-child(2) .col-md-6{
		float:none;
	}
	.gift_triple .row:nth-child(odd) .col-md-6:first-child div{
		float: initial;
	}
	.num{
	    position: initial;
	    left:  initial;
	}
	.modal-dialog{
    	width: 93%;
	}
	.draw_icon img{
		max-width: 70%;
	}


}
@media (max-width:480px){
	.hole_team{
		display:inline-block;
	}
	
	.team_list{
		margin-top:90px;
	}
	.team_banner{
		display:none;
	}
	.login_section input{
		margin:10px 0px;
	}
	.login_section .login_btn{
		float:initial;
		width:100%;
		
	}
	.colorgreen{
		font-size: 1rem;
	}
	.ex,.big_title img{
		display:none;
	}
	.per100{
		padding:5px;
	}
	.per20{
		float: left;
    width: 46%;
    margin: 2%;
	}
	.vote .col-md-3 a{
		margin:20px 0px;
	}
	.news_title{
		margin:0px 10px;
	}
	.hotnews .news>a:after{
		display: none;
	}
	.banner{
		background:url('../img/banner/mobile_banner.jpg');
		background-position-y: 0px;
		background-size: cover;
    	    margin-top: 3rem;
    	    
    	 
	}
	.banner img:nth-child(5) {
	    max-width:100%;
	}
	.gift_triple .row:nth-child(1){
		background-color: #f8f0d3;
	}
	.gift_triple .row:nth-child(2){
		background-color: #f0e7c5;
	}
	.gift_triple .row:last-child{
		background-color: #eadfb2;
	}
	div#top_banner {
	    margin-left: 0%;
	}
	#text_5{
		padding: 0 20%;		
	}
	.number_text{
		margin-bottom:40px;
	}
	.gift_img{
		margin-bottom: 20px;
	}
	.method{
    	font-size: 16px;
	}
	.method p {
	    text-align: left;
	}
	.method img.method_icon{
		position:initial;
	}
	.gift_triple .col-xs-4{
	    padding-right: 5px;
	    padding-left: 5px;
	}
	.banner img:nth-child(1){
		left:30px;
	}
	.banner img:nth-child(2){
		left: 80px;
	}
	.banner img:nth-child(3){
		left: 80px;
	}
	.banner img:nth-child(4){
		left: 188px;
	}
	.film_hover img{
	    margin-top: initial;
	}
	.foot_cat img{
		position: fixed;
	    bottom: 0px;
	    width: 100%;
    	max-height: 56px;
	    z-index: 100;
	    display:block;
	    cursor:pointer;
	}
	#attendcount{
    	transform: rotate(0deg);
	    position: fixed;
    	bottom: 56px;
    	left: 10px;
    	top: initial;
	}
	#attendcount:before, #attendcount:after {
	    content: '|';
	    position: absolute;
    	font-size: 30px;
    	top: 6px;
	}
	#attendcount:before {
	    left: -5px;
	    transform: rotate(-15deg);
	}
	#attendcount:after {
	    right: -5px;
    	transform: rotate(15deg);
	}
	.indexdraw_icon img{
		display:none
	}
	.modal-footer .col-xs-2, .modal-footer .col-xs-1{
   		padding: 10px 0px;		
	}
	.container-fluid{
   		padding-top:10px;
   		padding-bottom:0px;
   	}
   	.thank_page_banner{
   	 background-size: 480%;
   	 background-position: left top;
   	 }
	.navbar-toggle {
	    margin-top: 2px;
	    }
	.navbar-brand{
	    height: auto;
	    padding:0px 15px;
	}
	
}